/* Header */
.header {
    margin-top: 100px;

    max-width: 880px;
    margin-left: 200px;
}

.header__logo {
    max-width: 880px;
    margin-top: 40px;
    display: flex;
    justify-content: start;

}

/* Perfil */
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    margin-left: 10px;
}

.avatar-container {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
}

/* Botón invisible por defecto */
.avatar-edit-btn {
    position: absolute;
    inset: 0;
    border: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4) url("../images/Pencil.svg") center/40px no-repeat;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

/* aparece al hover */
.avatar-container:hover .avatar-edit-btn {
    opacity: 1;
}

/* Info perfil */
.profile__info {
    max-width: 415px;
    height: 77px;
    display: grid;
    grid-template-columns: auto 24px;
    grid-template-rows: auto auto;
    grid-template-areas:
        "name button"
        "job  button";
    column-gap: 10px;
    align-items: center;
    margin-right: 300px;
}

/* Nombre y trabajo */
.profile__name {
    margin: 0;
    grid-area: name;
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
}

.profile__job {
    margin: 5px 0 0 0;
    grid-area: job;
    font-size: 16px;
}

/* Botones editar/agregar */
.edit-button,
.add-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.add-button:hover {
    opacity: 0.6;
}

.edit-button img,
.add-button img {
    display: block;
    max-width: 100%;
    height: auto;
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.edit-button img:hover {
    opacity: 0.6;
}