/* ====== ventana emergente ====== */
.image-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.image-popup.popup_opened {
    display: flex;
}

.image-popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    cursor: pointer;
    z-index: 1;
}

.image-popup__content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    background: transparent;
    border-radius: 8px;
    padding: 0;
    text-align: center;
    overflow: visible;
    z-index: 2;
    display: inline-block;
}

.image-popup__image {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 4px;
    object-fit: contain;
    display: block;
}

.image-popup__caption {
    margin-top: 8px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px black;
}

/*BOTÓN DE CERRAR */
.image-popup__close {
    position: absolute;
    top: -30px;
    right: -30px;
    font-size: 40px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 3;
}