/* index.css */

/* Base */
@import "./blocks/page.css";
@import "./blocks/grid.css";

/* Layout */
@import "./blocks/header.css";
@import "./blocks/footer.css";

/* Cards */
@import "./blocks/card.css";

/* Popups */
@import "./blocks/popup.css";
@import "./blocks/imagepopup.css";

/* Media queries (siempre al final) */
@import "./blocks/media.css";
